/*
 *= require reset
 *= require_self
 *= require_tree .
*/

@charset "utf-8";

body {
  background: #000000;
	color: #ffffff;
	font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 16px;
}

input[type="text"], textarea {
	color: #444444;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 14px;
}

#container {
	margin: 0 auto;
	max-width: 1000px;
	width: 90%;
}