.post {
	margin: 0 0 20px 0;
	overflow: hidden;
	header {
		.subject {
			margin: 0 0 2px 0;
		}
		.time {
			font-size: 10px;
			font-style: italic;
			margin: 0 0 10px 0;
		}
		.name {
			display: none;
		}
		.identicon {
			float: left;
			height: 100px;
			margin: 0 10px 0 0;
			width: 100px;
		}
	}
	.body {
		margin: 0 0 0 110px;
	}
}