<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8" />
  <title></title>
  <meta name="description" content="" />
  <meta name="author" content="Sean Eshbaugh" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="favicon.ico" rel="shortcut icon" />
  <link href="images/apple-touch-icon-iphone.png" rel="apple-touch-icon" />
  <link href="images/apple-touch-icon-ipad.png" rel="apple-touch-icon" sizes="72x72" />
  <link href="images/apple-touch-icon-iphone4.png" rel="apple-touch-icon" sizes="114x114" />
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
